[Unit]
Description=Prometheus service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=cd /opt/node_exporter && nohup ./node_exporter --collector.wifi &

[Install]
WantedBy=multi-user.target