[Unit]
Description=Prometheus service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=cd /opt/prometheus && nohup ./prometheus --config.file=prometheus.yml --web.enable-lifecycle &

[Install]
WantedBy=multi-user.target