<!DOCTYPE html>
<html>
  <head>
    <title>POTOSWAY</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css/">
  </head>
  <body>
    <div class="control-panels">
      <div class="top-images">
        <img src="http://bigpi.local:3000/d/xfpJB9FGz/potoview?orgId=1&var-job=node-exporter&var-hostname=All&var-node=localhost%3A9100&var-device=All&var-origin_prometheus=&from=1673756689858&to=1673778289858&theme=light&viewPanel=13" alt="Image 1">
        <img src="http://bigpi.local:3000/d/xfpJB9FGz/potoview?orgId=1&var-job=node-exporter&var-hostname=All&var-node=localhost%3A9100&var-device=All&var-origin_prometheus=&from=1673756689858&to=1673778289858&theme=light&viewPanel=13" alt="Image 2">
      </div>
      <div class="control-panel">
        <h3>Humidity and Temperature</h3>
        <div class="info-bar">Humidity: {{ _humidity }} %</div>
        <div class="info-bar">Temperature: {{ _celsius }} °C</div>
        </div>
      </div>
      <div class="control-panel">
        <h3>LED Control</h3>
        <div class="info-bar">Status: {{ led_status }}</div>
        <a href="/led/on" class="button">ON</a>
        <a href="/led/off" class="button">OFF</a>
        <a href="/led/blink" class="button">BLINK</a>
      </div>
      <div class="control-panel">
        <h3>RGB Control</h3>
        <div class="info-bar">Status: {{ rgb_status }}</div>
        <a href="/rgb/on" class="button">ON</a>
        <a href="/rgb/off" class="button">OFF</a>
        <a href="/rgb/disco" class="button">DISCO</a>
      </div>
</body>
</html>
